/* begin fadein animation */
@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.fadeIn{
    -webkit-animation: fadeIn 2000ms ease-in-out;
    animation: fadeIn 2000ms ease-in-out;
}
/* end fadein animation */

@-webkit-keyframes bounce {
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-50px); }
    80% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation: slideInUp 2000ms ease-in-out, fadein 2000ms ease-in-out;
    animation: slideInUp 2000ms ease-in-out, fadein 2000ms ease-in-out;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation: slideInDown 2000ms ease-in-out, fadein 2000ms ease-in-out;
    animation: slideInDown 2000ms ease-in-out, fadein 2000ms ease-in-out;
}