*{padding: 0; margin: 0;}
html,body{height: 100%;width: 100%;min-height: 100%}
section{width: 100%;height: 100%; overflow-x: hidden;}
a{text-decoration: none;color: #ffffff;}
a:hover{text-decoration: none;color: #ffffff;}
.navbar{
    -webkit-box-shadow: 0px 20px 19px -13px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 20px 19px -13px rgba(0,0,0,0.31);
    box-shadow: 0px 20px 19px -13px rgba(0,0,0,0.31);
}
.bg{
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    /*position: relative;*/
}
.bg_absolute_container{
    position: absolute;
    height: 100%;
    width: 100%;
}
.fixed{
    position:fixed;
}
#slide-5{background-color: #151515;height: auto;}
/*#slide-1 .bg{background:#fff;}*/
#slide-2 .bg{background-image:url('../images/V3.3.jpg'); }
#slide-3 .bg{bacground:none; background-color:#010101;}
#slide-45 .bg{bacground:none; background-color:#010101;}
/*#slide-4 .bg{background-image:url('../images/V2.5.png');}*/
#slide-5 .bg{
    background-image: url(../images/V4.2.jpg);
}
#slide-6 .bg{
    background-image: url(../images/buynow.jpeg);
}
#slide-7 .bg{
    background-image: url(../images/singapore.jpg);
}
#info{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 20px;
    z-index: 9999;
}
#dot-nav-bar{
    position: fixed;
    top: 40%;
    right: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    z-index: 9999;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    box-shadow: -20px 0px 70px -13px rgba(0,0,0,0.75);
    color: #cccccc;
}
#dot-nav-bar ul{
    list-style-type: none;
}
#dot-nav-bar ul li{
    border: 2px solid #cccccc;
    margin: 5px;
    /*border-radius: 15px;*/
    background-color: #cccccc;
    color: #cccccc;
    position: relative;
}
#dot-nav-bar ul li .label {
    position: absolute;
    width: 350px;
    margin-top: -34px;
}
#dot-nav-bar ul li a{
    color: #cccccc;
}
#dot-nav-bar ul li a span{
    text-indent: -9999px;
    height: 15px;
    width: 15px;
    display:block;
    padding: 1px;
}
#dot-nav-bar ul li .label .navtitle::after, #dot-nav-bar ul li .label .navtitle::before{
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#dot-nav-bar ul li .label .navtitle::after{
    border-color: rgba(255,255,255,0);
    border-left-color: #ffffff;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}
#dot-nav-bar ul li .label .navtitle::before{
    border-color: rgba(204,204,204,0);
    border-left-color: #CCCCCC;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}
.navtitle{
    position: relative;
    float: right;
    padding: 8px;
    margin-right: 8px;
    background: #ffffff;
    opacity: 0.8;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: black;
    font-size: 1.5em;
}
.navtitle span{
    font-weight: bold;
}
video{
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
.bg_relative_grid_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.cell{
    width:100%;
    display:table-cell;
    vertical-align: middle;
}
.cell-top{
    width:100%;
    display: table-row;
    vertical-align: top;
}
.cell-bottom{
    width:100%;
    display: table-row;
    vertical-align: bottom;
}

#intro{
    color: #ebebeb;
    width: 450px;
    margin: -225px auto 0 auto;
    text-align: center;
}
#intro p{
    font-size: 1.875em;
    text-align: center;
}
#intro span{
    font-size: 2.813em;
    border: 2px solid white;
    border-radius: 0.2em;
    padding: 2px;
}
.float_right{
    float: right;
}
.float_left{
    float: left;
}
.margin_right_50p{
    margin-right: 20% ;
}
.cell_450{
    width: 450px;
}
.cell_title{
    /* font-weight: bold; */
    font-size: 2.6em;
}
.cell_message{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
#app-container{
    width:400px;
    /* position: absolute; */
    top: 12%;
    right: 2%;
}
#app{
    width:400px;
}
#app-container:hover{
    cursor: pointer;
}

#app-picker{
    width:17px;
    height:17px;
    position:absolute;
    cursor:-webkit-grab;
    left:50%;
    top: 44%;
    background: url(../images/picker.png);

    -moz-transform:rotate(45deg);
    -moz-transform-origin:0px 93px;

    transform:rotate(45deg);
    transform-origin:0px 93px;

    -ms-transform:rotate(45deg);
    -ms-transform-origin:0px 93px;

    -webkit-transform:rotate(45deg);
    -webkit-transform-origin: 0px 93px;
}
#menu-logo{
    width: 60px;
    height: 56px;
    display: inline-block;
    background-size: 60px 56px;
    background: url(../images/AB_Logo.png) no-repeat center;
}
#logo{
    opacity: 0;
    -moz-animation: fadein 1s ease-in 4s forwards; /* Firefox */
    -webkit-animation: fadein 1s ease-in 4s forwards; /* Safari and Chrome */
    -o-animation: fadein 1s ease-in 4s forwards; /* Opera */
    animation: fadein 1s ease-in 4s forwards;
    margin-left: 90px;
}
#arrow-bounce{
    display: block;    text-indent: -9999px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url(../images/circle-down.svg);
    -webkit-animation: bounce 2s infinite ease-in-out;
}

nav{
    text-align:center;
    height:60px;
}
.navbar-right{
    margin-right:10%;
    margin-top: 5px;
}
.navbar-right li{
    font-size: 1.35em;
    font-family: 'Abel', sans-serif;
}
.slide-4-cell-top {
    position: absolute; top: 5%; left: 5%;
}
.slide-4-cell-btm{
    position: absolute; bottom: 5%; right: 5%;
}
.slide-5-cell-top {
    color: #ffffff;
    top: 10%; left: 10%;
}
.slide-5-cell-btm{
    color: #ffffff;
    bottom: 20%; right: 30%;
}
#buynow{
    color: #ffffff;
    width: 100%;
    text-align: center;
}
#buynowicon{
    border: 1px solid white;
    border-radius: 0.2em;
    padding: 10px 20px 10px 20px;
    font-size: 1.6em;
    font-family: Abel, sans-serif;
}
#buynowicon:hover{
    border: 1px solid #73B9DD;
    -webkit-transition: border 1s;
}
#buynowicon:hover a{
    color: #42D4FF;
    -webkit-transition: color 1s;
}
#contactus{
    max-width: 900px;
    min-width: 450px;
    background-color: #ffffff;
    padding: 50px;
}
.spec{
    float: left;
    height: 155px;
    width: 178px;
    color: #ffffff;
    text-align: center;
}
.spec_indi{
    font-size: 3.65em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.spec_desc {
    font-size: 1.125em;
}
#main-container{
    width:960px;
    margin:0 auto;
    margin-top: 60px;
    padding: 20px 0 0 0;
    display: flex;
}
#left-container{
    width: 620px;
    margin-top: 100px;
}
#right-container{
    width: 360px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 43px;
}
#right-container h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5em;
    margin: 0;
    text-align: center;
}
#right-container h3{
    font-size:0.9em;
    margin: 5px 0 10px 0;
    text-align: center;
}
#slideshow{
    position:relative;
    width:480px;
    height: 700px;
}
#slideshow keyframe{
    position: absolute;
}
#slideshow img{
    width: 660px;
    /* height: 540px; */
}
.divider{
    height:1px;
    background-color: #D7D7D7;
}
.option-container{
    margin: 20px 0 20px 0;
    overflow: hidden;
}
#slideshow #slide-3{
    bottom:0;
/*>>>>>>> Stashed changes*/
}
#intro-content{
    position:absolute;
    top: 50%;
    left:50%;
    width: 400px;
    transform: translateX(-50%) translateY(-50%);
}
#submenu{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
#submenu-image{
    height: 310px;
}
#submenu-context{
    width: 450px;
    height: 310px;
    padding-top: 60px;
}

@media (min-width: 1320px) {
    .slide-5-cell-top,.slide-5-cell-btm,#app-container{
        position:absolute;
    }
    #slide-5{
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 701px) {
    #intro-content{
        left: auto !important;
        right: 10%;
        transform: translatex(-50%) translatey(-50%) !important;
    }
    #submenu{
        width: 850px;
    }
    .sub-menu-float-left{
        float:left;
    }
}
@media (max-width:1301px) {
    .bg-opacity {
        background-color: #cccccc;
        padding: 8px;
        border-radius: 0.8em;
    }
}
.option-box{
    width: 150px;
    padding: 10px 0 0 0;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #E7E7E7;
}
.option-container a{
    margin: 0 26px 0 0;
    float: left;
}
.option-box .option-text{
    text-align:center;
    color: #7F7F7F;
    text-decoration:none;
}
.option-box img{
    vertical-align: baseline;
    margin-left: 38px;
}
.option-box:hover{
    background-color: #5F5F5F;
    border: 1px solid #BEB2B2;
    -webkit-transition: background 1s;
}
a.active .option-box{
     background-color: #797979;
    border: 1px solid #BEB2B2;
    -webkit-transition: background 1s;
}
a.active .option-text{
    color:#fff;
}
.option-container a:hover, .option-container a:link{
    text-decoration:none;
}
.option-box:hover .option-text{
    color: #E9E9E9;
}
#price{
    margin: 30px 0 10px 0;
    font-size: 1.4em;
}

#pay{
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #6C6C6C;
    /* border: 1px solid #D8D8D8; */
    box-shadow: 0px 0px 10px #E7E7E7;
    width: 327px;
    background-image: none;
    text-shadow: none;
}
#pay .btn{
    width:90%;
    font-size: 1.5em;
}

#pay.active{
    background-color: #38A9F2;
    color: #D7EFFF;
}
#pay:hover{
    background-color: #3388BF;
    color: #fff;
}
.container{
    width: 960px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.container a{
    color: #38A9F2;
}
#buy-intro .container a:hover{
    text-decoration: none;
    color: #64BBF4;
}