*{padding: 0; margin: 0;}
html,body{height: 100%;width: 100%;min-height: 100%}
section{width: 100%;height: 100%;}
.bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#slide-2{height: 600%;}

/*#slide-1 .bg{background-image:url('../images/V4.2.jpg')}*/
#slide-2 .bg{background-image:url('../images/V3.3.jpg'); }
#slide-3 .bg{bacground:none; background-color:#010101; height: 310px; text-align: center;}
#slide-4 .bg{background-image:url('../images/V2.5.png');}
#info{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 20px;
    z-index: 9999;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fill-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.cell{
    width:100%;
    display: table-cell;
    vertical-align: middle;
}
#intro{
    color: #ebebeb;
    width: 450px;
    margin: -225px auto 0 auto;
    text-align: center;
}
#intro p{
    font-size: 30px;
    text-align: center;
}
#intro span{
    font-size: 45px;
    border: 2px solid white;
    border-radius: 0.2em;
    padding: 2px;
}
.cell .cell-float-right{
    position: absolute;
    top:2%;
    right: 5%;
    /*height: calc( 100% - 4% );*/
    /*border: 1px solid black;*/
    float:right;
    width: 55%;
    min-width: 450px;
    padding-top: 0.8px;
}
.float-right{
    float:right;
    width: 450px;
    height: 50%;
    border: 1px solid black;
}

#app-container{
    display:inline-block;
    width:400px;
    position:relative;
}
#app{
    width:400px;
}
#app-img{
    width:1000px;
}
#app-picker{
    width:17px;
    height:17px;
    position:absolute;
    cursor:-webkit-grab;
    left:50%;
    top: 44%;
    background: url(../images/picker.png);

    -moz-transform:rotate(45deg);
    -moz-transform-origin:0px 93px;

    transform:rotate(45deg);
    transform-origin:0px 93px;

    -ms-transform:rotate(45deg);
    -ms-transform-origin:0px 93px;

    -webkit-transform:rotate(45deg);
    -webkit-transform-origin: 0px 93px;
}